
@{
    ViewData["Title"] = "Delete";
}
@using EntityFrameworkCalismalari.MvcWebUI.Models.Entity;
@model Product

<h1>Ürün Silinecek!!!</h1>

<p>Aşağıda Bilgileri Bulunan Ürün Silinecektir</p>

<p>@Model.ProductName</p>
<p>@Model.UnitPrice</p>

<form action="/Product/Delete" method="post">
    <input type="hidden" name="ProductID" value="@Model.ProductID"/>
 
    <input type="submit" class="btn btn-primary" value="SİL" />
</form>


